pre.prettyprint {
	background-color: #000;
	border-radius: 8px;
	width: 95%;
	margin: 1em auto;
	padding: 1em 2em;
	white-space: pre-wrap;
}

pre.prettyprint code {
    color: #fff;
    /* Fix dumb behaviour of "foundation.css" for <code> inside <pre>. */
    border: initial;
    background-color: initial;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    padding: initial;
}

pre.prettyprint samp { color: #ccc; }

pre .prompt { color: #ccc; }
pre .comment { color: #6b4; font-style: italic; }
pre .kwd { color: #d88; font-weight: bold; }
pre .case { color: #aef; }
pre .field { color: #e9e; font-style: italic; }
pre .id { color: #ee6; font-style: italic; }
pre .illegal_lit { background-color: #c44; color: #444 }
pre .lit { color: #8cf; }
pre .illegal_op { background-color: #c44; color: #444 }
pre .op { color: #fff; }
pre .punc { color: #fff; font-weight: bold; }
pre .illegal { background_color: #c44; color: #444 }


.padded {
    width: auto;
    margin: 1em auto;
    padding: 1em 2em;
}

.menu_bar {
    background-color: #3b3a30;
    height: 100%;
    border: none;
}
.header {
    border:none;
    margin-bottom: 0px;
}
.wrapper {
    background-color: #F6F6F6;
}
.header a {
    color: #3b3a30;
    text-decoration: none;
}
.header a:hover {
    color: #c81818;
    text-decoration: none;
    text-shadow: 1px 1px #444;
}
.menu_bar a {
    color: #F6F6F6;
    text-decoration: none;
}
.menu_bar a:hover {
    color: #c81818;
    text-decoration: none;
    text-shadow: 1px 1px #000;
}

a {
    color: #DE1B1B;
}
a:hover {
    color: #DE1B1B;
    text-decoration: underline;
}
.btn {
    color: #3b3a30;
}
.btn:hover {
    color: #c81818;
    text-decoration: none;
    text-shadow: 1px 1px #444;
}
h1,
h2,
h3,
h4,
h5
{
    margin-top: 1.5em;
    margin-bottom: 0.5em; 
}