pre.prettyprint > code {
    color: #fff;
    /* Fix dumb behaviour of "foundation.css" for <code> inside <pre>. */
    border: initial;
    background-color: initial;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    padding: initial;
}


pre.prettyprint > samp {
    background-color: #444;
    color: #ccc;
}

/* What follows is a modified copy of "styles/sunburst.css" from
 * Google Prettify. Original sunburst theme by David Leibovic */

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #000;
	border-radius: 8px;
}

pre.prettyprint {
	width: 95%;
	margin: 1em auto;
	padding: 1em 2em;
	white-space: pre-wrap;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }


.menu_bar {
    background-color: #3b3a30;
    height: 100%;
    border: none;
}
.header {
    border:none;
    margin-bottom: 0px;
}
.wrapper{
    background-color: #F6F6F6;
}
.header a {
    color: #3b3a30;
    text-decoration: none;
}
.header a:hover {
    color: #c81818;
    font-weight: bold;
    line-height: 1em;
    text-decoration: none;
    text-shadow: 1px 1px #444;
}
.menu_bar a {
    color: #F6F6F6;
    text-decoration: none;
}
.menu_bar a:hover {
    color: #c81818;
    font-weight: bold;
    line-height: 1em;
    text-decoration: none;
    text-shadow: 1px 1px #000;
}

a {
    color: #DE1B1B;
}
a:hover {
    color: #DE1B1B;
    text-decoration: underline;
}
.btn {
    color: #3b3a30;
}
.btn:hover {
    color: #c81818;
    font-weight: bold;
    line-height: 1em;
    text-decoration: none;
    text-shadow: 1px 1px #444;
}